.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 43px;
    display: flex;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
}

.list-footer-contact {
    margin-top: 20px;
}

.footer-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-right: 70px;
}

.list-footer-contact .footer-contact-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-communication {
    color: rgba(255, 255, 255, 0.6);
}

.footer-soc {
    margin-right: 93px;
}

.footer-soc-title,
.footer-mailing-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-soc-list {
    display: flex;
    gap: 10px;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
}

.footer-soc-link {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--tra);

    &:hover,
    &:focus {
    background-color: var(--color-primary);
    }
}

.footer-soc-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.footer-mailing-list {
    width: 570px;
    display: block;
}

.footer-mailing-title {
    margin-bottom: 20px;
}

.footer-mailing-form {
    display: flex;
}

.mailing-input {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: #ffffff;
}

.mailing-btn {
    display: flex;
}

.mailing-icon-send {
    margin-left: 10px;
    fill: #FFFFFF;
}