.industry {
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}

.industry__list {
    display: flex;
    margin-top: 50px;
}

.industry__box {
    position: relative;
}

.industry__box--text {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
}

.industry__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.industry__list .industry__item:not(:last-child) {
    margin-right: 30px;
}